<!DOCTYPE html>
<html>
	<head>
		<title>YelpCamp</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
<body>
	
	<nav class="navbar navbar-light bg-light mb-5 navbar-expand-sm">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">YelpCamp</a>			
		</div>
		<div class="collapse navbar-collapse  nav justify-content-end">
		<ul class="navbar-nav nav nav-pills">
		<% if(!currentuser){ %>
		  <li class="nav-item ">
			<a class="nav-link" href="/login">Login </a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/register">Sign Up</a>
		  </li>
		<% }else{ %>
		  <li class="nav-item">
			<a class="nav-link" href="/logout">Log Out</a>
			</li>
		  <li class="nav-item">
			<a class="nav-link" href="/register">Signed in as <%= currentuser.username %> </a>
		  </li>
		<% } %>
		</ul>
		</div>
	</div>
</nav>
	<div class="container">
		<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert">
				<%= error %>				
			</div>
		<% } %>
		<% if(succes && succes.length > 0){ %>
			<div class="alert alert-success" role="alert">
				<%= succes %>				
			</div>
		<% } %>		
	</div>
	

	